<!-- Nav bar start -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Monkey</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/surveys/all">Surveys</a></li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group input-group">
          <input type="text" class="form-control" placeholder="Search..">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span><%= @user.name %><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/questions/user">Surveys</a></li>
            <li><a href="#">Settings</a></li>
            <li role="separator" class="divider"></li>
            <li><a href='/user/logout'>Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Nav bar end-->
<!-- surveys begin -->
<div class="container text-left">
<div class="row">
  <div id="allsurveys">
    <h2 align="center">Surveys</h2>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Times Completed</th>
        </tr>
      </thead>
      <tbody>
        <% if @surveys %>
         <% @surveys.each_with_index do |survey,index|  %>
          <tr>
            <th scope="row"><%= index + 1 %></th>
            <td><a href="/surveys/<%= survey.id %>"><%= survey.title %></a></td>
            <td><%= survey.participations.count %>
          </tr>
         <% end  %>
        <% end  %>
      </tbody>
    </table>
  </div>
</div>
</div>
<!-- surveys end-->